{% extends "base.html" %}
{% block content %}
  <p class="p-2">Bienvenido a mi Pokedex hecho con Django</p>
  <div class="row">
    {% for pokemon in pokemons %}
      
        <div class="col-sm-12 col-md-6 col-lg-4">
          <a class="card" style="width: 18rem;" href="{% url "pokemon_details" pokemon.id %}">
            {% if pokemon.picture %}
              <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name }}">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ pokemon.name }}</p>
            </div>
          </a>
        </div>

    {% endfor %}
  </div>
{% endblock content %}
